{% extends 'OSPTTestBundle::layout.html.twig' %}

{% block containerClass %}container{% endblock %}
{% block body %}
<div class="row">
<div class="span12">
	<h1>{{ test.name }}'s item list</h1>
	<p></p>
</div>

<div class="span12">

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Operation</th>
			<th>CreateAt</th>
			<th>UpdatedAt</th>
		</tr>
	</thead>
	<tbody>
	    {% for item in test.getTestItems() %}
	    <tr>
	        <td>{{ item.id }}</td>
	        <td>{{ item.name }}</a></td>
	        <td>
				<a class="btn btn-warning" href="{{ path('test_item_edit', {'id':test.name, 'pid':item.id}) }}">
					<i class="icon-edit icon-white"></i> Edit
				</a>
				<a class="btn btn-danger" href="{{ path('test_item_delete', {'id':test.name, 'pid':item.id}) }}">
					<i class="icon-trash icon-white"></i> Delete
				</a>
			</td>
	        <td>{{ item.createdAt|date('Y/m/d H:i') }}</td>
	        <td>{{ item.updatedAt|date('Y/m/d H:i') }}</td>
	    </tr>
	    {% else %}
	    <tr>
	        <td colspan="5">No item found</td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>
</div>

<div class="span12">
	<div class="btn-toolbar">
		<a class="btn btn-primary" href="{{ path('test_item_new', {'id':test.name}) }}">
			<i class="icon-file icon-white"></i> Create a new item
		</a>
		<a class="btn" href="{{ path('test_manage') }}">Back to the test list</a>
	</div>
</div>

</div>
{% endblock %}
