<h1>Problem {{ problem.name }}</h1>
<p><small>
	Id: {{ problem.id }}<br />
	Created: {{ problem.createdAt|date('Y/m/d H:i') }}<br />
	Updated: {{ problem.updatedAt|date('Y/m/d H:i') }}<br />
	statement: <br />
	{{ problem.statement }}
</small></p>

{% for question in problem.getTestProQuestions() %}
	<h2>Question {{ question.name }}</h2>
	<p><small>
		PointRate: {{	question.pointRate }}<br />
		Type: {{	question.getTestProQueType().name }}<br />
		Statement:  <br />
		{{	question.statement }}
	</small></p>

	<table>
		<tr><th>name</th><th>Statement</th><th>PointRate</th></tr>
		{% for choice in question.getTestProQueChoices() %}
			<tr>
				<td>{{ choice.name}}</td>
				<td>{{ choice.statement}}</td>
				<td>{{ choice.pointRate}}</td>
			</tr>
		{% endfor %}
	</table>

{% endfor %}
