
{% extends 'OSPTTestBundle::layout.html.twig' %}

{% block containerClass %}container{% endblock %}
{% block body %}
<div class="row">
<div class="span12">
	<h1>{{ test.name }} States</h1>
	<p></p>
</div>

<div class="span12">

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Operation</th>
			<th>CreateAt</th>
			<th>UpdatedAt</th>
		</tr>
	</thead>
	<tbody>
		{% for state in test.getTestStates() %}
		<tr>
			<td>{{ state.id }}</td>
       		<td><a href="{{ path('test_state_view', {'id':test.name, 'sid':state.id} ) }}">{{ state.name }}</a></td>
			<td>
				<a class="btn btn-warning" href="{{ path('test_state_edit', {'id':test.name, 'sid':state.id}) }}">
					<i class="icon-edit icon-white"></i> Edit
				</a>
				<a class="btn btn-danger" href="{{ path('test_state_delete', {'id':test.name, 'sid':state.id}) }}">
					<i class="icon-trash icon-white"></i> Delete
				</a>
			</td>
        	<td>{{ state.createdAt|date('Y/m/d H:i') }}</td>
        	<td>{{ state.updatedAt|date('Y/m/d H:i') }}</td>
    	</tr>
    	{% else %}
	    <tr>
	        <td colspan="5">No tests found</td>
	    </tr>
	    {% endfor %}
	</tbody>
</table>

<div class="span12">
	<div class="btn-toolbar">
		<a class="btn btn-primary" href="{{ path('test_state_new', {'id':test.name}) }}">
			<i class="icon-file icon-white"></i> Create a new state
		</a>
		<a class="btn" href="{{ path('test_manage') }}">Back to the test list</a>
	</div>
</div>

</div>
</div>
{% endblock %}
